[submodule "src/third_party/miniaudio"]
	path = src/third_party/miniaudio
	url = https://github.com/mackron/miniaudio.git

[submodule "src/third_party/dr_libs"]
	path = src/third_party/dr_libs
	url = https://github.com/mackron/dr_libs.git

[submodule "src/third_party/indicators"]
	path = src/third_party/indicators
	url = https://github.com/p-ranav/indicators

[submodule "src/third_party/mbedtls"]
	path = src/third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	shallow = true
	branch = v3.6.2
